.reject-btn {
  border-radius: initial;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.accept-btn {
  border-radius: initial;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-danger {
  background-color: #c92a42;
}
.back-to-list {
  line-height: 45px;
}
