<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <p class="text-muted">Sign in to your account</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-user"></i></span>
      </div>
      <input
        type="text"
        formControlName="email"
        placeholder="email"
        class="form-control"
        autocomplete="email"
        [ngClass]="{
          'is-invalid': submitted && f.email.errors
        }"
      />
      <div
        *ngIf="submitted && f.email.errors"
        class="invalid-feedback offset-2"
      >
        <div *ngIf="f.email.errors">A valid email is required</div>
      </div>
    </div>
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="icon-lock"></i></span>
      </div>
      <input
        type="password"
        formControlName="password"
        placeholder="password"
        class="form-control"
        autocomplete="password"
        [ngClass]="{
          'is-invalid': submitted && f.password.errors
        }"
      />
      <div
        *ngIf="submitted && f.password.errors"
        class="invalid-feedback offset-2"
      >
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <toggle-button
      formControlName="isAdmin"
      [classNames]="'btn btn-primary'"
      [label]="f.isAdmin.value ? 'Sign in As User' : 'Sign in as Admin'"
    ></toggle-button>
    <div class="row">
      <div class="col-6">
        <button [disabled]="loading" class="btn btn-primary px-4" type="submit">
          Login
        </button>
        <img
          *ngIf="loading"
          class="pl-3"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
      <div class="mobile-only col-6 text-right">
        <span
          style="padding-top: 15px"
          type="button"
          class="btn-link"
          (click)="navigateTo('/account/register')"
        >
          Register Now!
        </span>
      </div>
      <div class="col-6 mobile-align">
        <button
          type="button"
          class="btn btn-link px-0"
          (click)="navigateTo('/account/forgot-password')"
        >
          Forgot password ?
        </button>
      </div>
    </div>
    <div *ngIf="errorMessage" class="invalid">
      {{ errorMessage }}
    </div>
  </form>
</div>
