.green {
  background-color: #49cc90;
  color: #fff;
}
.red {
  background-color: #c92a42;
  color: #fff;
}
.black {
  background-color: #24292e;
  color: #fff;
}

.clickable {
  cursor: pointer;
}
.table th,
.table td {
  border-top: none;
  border-bottom: 1px solid #c8ced3;
  font-size: 0.875rem;
}
tr:hover {
  opacity: 0.8;
}
.table thead {
  color: #104973;
}
.table-item-summary {
  width: 25%;
}
.table-item-description {
  width: 25%;
}

.table-item-etc {
  width: 25%;
}

.clickable {
  cursor: pointer;
}
.sort-direction {
  background-color: #fff;
  font-size: 18px;
  position: absolute;
  left: 97%;
  top: 35%;
  padding: 8px 5px 5px 5px;
}
.sort-direction:active {
  margin: 2px;
}
