/* You can add global styles to this file, and also import other style files */
.center-align {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
}

body {
  background-color: #edf2f3;
  font-family: "Lato";
  color: #104973;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}
.invalid-feedback {
  color: #c92a42;
}

.btn-primary {
  background-color: #268fdd;
  color: #ffffff;
  border-style: none;
  outline: none !important;
}
.btn-round {
  border-radius: 18px;
}
.form-control.is-invalid {
  background-image: none;
}
.form-control {
  color: #104973;
}
select {
  cursor: pointer;
}
